@import "tailwindcss";

@theme { 
    --color-primary: #1E90FF;
    --color-secondary: #1F2937;
    --color-accent: #67E8F9;
    --color-light: #F3F4F6;
    --color-darkText: #FFFFFF;
    --color-mutedText: #D1D5DB;
    --color-success: #10B981;
    --color-warning: #FBBF24;
    --color-danger: #EF4444;
}

body{
    @apply bg-secondary/20 text-secondary/80;
}
input {
    @apply border border-gray-200 h-10 px-4 rounded-md text-sm focus:outline-none focus:border-gray-400;
}

button{
    @apply cursor-pointer;
}

