@import 'tailwindcss';

@theme {
  --color-primary: #7380ec;
  --color-secondary: #1f2937;
  --color-accent: #67e8f9;
  --color-light: #f3f4f6;
  --color-darkText: #ffffff;
  --color-mutedText: #d1d5db;
  --color-success: #10b981;
  --color-warning: #ffbb55;
  --color-danger: #ef4444;
}

body {
  @apply bg-secondary/10 text-secondary/80;
}

input {
  @apply border border-gray-200 h-10 px-4 rounded-md text-sm focus:outline-none focus:border-gray-400;
}

/* Chrome, Safari, Edge */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

button {
  @apply cursor-pointer;
}
